# LaTeX auxiliary files
*.aux
*.log
*.fls
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.lof
*.lot
*.xdv
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.blg
*.brf
*.thm

# Build directories
/build/
/out/
/aux/
**.auto/

# Editor-specific files (e.g., VS Code, Vim)
*.swp
*.swo
*.swn
*.spl
*.vscode/

